.nome{
    text-align: center;
    font-size: 5vh;
    color: lightseagreen;
}

.foto{
    position: absolute;
    width: 250px;
    right: 44%;
    bottom: 50%;
}
.habilidades{
    position: absolute;
    font-size: 3vh;
    right: 73%;
    bottom: 80%;
    color: darkslategray;
}
.hob{
    position: absolute;
    font-size: 3vh;
    right: 20%;
    bottom: 80%;
    color: darkslategray;
}
.paragrafo1{
    position: absolute;
    font-size: 3vh;
    right: 62%;
    bottom: 65%;
    color: darkslategray;
}
.paragrafo2{
    position: absolute;
    font-size: 3vh;
    right: 1%;
    bottom: 65%;
    color: darkslategray;
}
.experiencias{
    position: absolute;
    font-size: 3vh;
    bottom: 40%;
    right: 43%;
    color: darkslategray;
}
.paragrafo3{
    position: absolute;
    font-size: 3vh;
    right: 29%;
    bottom: 30%;
    color: darkslategray;
}
body{
    background-image: url(../css/fundo.png);
    background-size: cover;
}